:root{
  color: black;
}
.firstcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
ul{
  display: flex;
  gap: 20px;  
  /* color: #000; */
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn ul{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
nav h1{
  font-size: 35px;
}
