.boost-div{
background: url('../assets/images/bg-boost-desktop.svg') no-repeat;
background-position: center;
background-size: cover;
align-items: center;
text-align: center;
}
.shadow-div{
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.text4{
  font-family: 'Roboto', sans-serif;
  color:black;
  padding: 80px;
  line-height: 0.2;
  color: #fff;
}
.text4 h1{
  font-size: 50px;   
}

.text4-btn{
  width: 15%;
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  border-radius: 50px;
}
